.edit-gas-modal .ant-modal-body {
  padding: 20px;
} 
.edit-gas-modal .ant-modal-content {
  border-radius: 12px;
  overflow: hidden;
}
.edit-gas-modal .ant-modal-footer {
  padding: 20px;
}
.form-label-item .ant-form-item-required {
  width: 100%;
}
.ant-modal-content .ant-modal-close {
  display: block;
}