@import '~antd/dist/antd.less';

//@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@app-theme-color: #ffc800;
@btn-primary-color: #1e1e1e;
@primary-color: @app-theme-color;
@text-selection-bg: #ffc800;
@font-size-base: 14px;
@font-size-lg: 16px;
@font-size-sm: 10px;
@font-family: 'Inter', sans-serif;
@layout-sider-background: rgba(0, 0, 0, 0.84);
@item-active-bg: #f8f8f8;
// @menu-bg: @component-background;
// @menu-item-color: @text-color;
// @menu-highlight-color: #f8f8f8;
// @menu-item-group-title-color: @text-color-secondary;
// @menu-dark-bg: rgba(0, 0, 0, 0.84);
// @menu-dark-item-active-bg: #f8f8f8;
// @menu-dark-submenu-bg: rgba(0, 0, 0, 0.84);
// customised
@app-header-height: 60px;
// {
//   xs: '480px',
//   sm: '576px',
//   md: '768px',
//   lg: '992px',
//   xl: '1200px',
//   xxl: '1600px',
// }

.flex .anticon-loading.anticon-spin {
  display: block;
}

.ant-select-selector {
  height: 100% !important;
  border: none !important;
}

.ant-select-item.ant-select-item-option-active {
  background-color: #f9f9f9;
}

.ant-select-item.ant-select-item-option-selected {
  color: #e2b201 !important;
}

.ant-select-selector {
  height: 3rem;
  border: none !important;
  border-radius: 4px !important;

  .ant-select-selection-search {
    .ant-select-selection-search-input {
      height: 3rem;
    }
  }

  .ant-select-selection-item {
    height: 3rem !important;
    line-height: 3rem !important;
    font-size: 0.875rem !important;
    font-weight: 500;
  }
}

.ant-select-dropdown {
  background: #ffffff;
}

.ant-input-affix-wrapper > input.ant-input {
  background-color: transparent !important;
}

.ant-select-item {
  &.ant-select-item-option {
    background: #ffffff;
  }

  &.ant-select-item-option-active {
    background: #f9f9f9;
  }
}

.ant-picker-panels {
  flex-direction: column !important;
}

@media (min-width: 768px) {
  .ant-picker-panels {
    flex-direction: row !important;
  }
}

.ant-btn-primary[disabled],
.ant-btn-primary[disabled]:hover,
.ant-btn-primary[disabled]:focus,
.ant-btn-primary[disabled]:active {
  height: 100%;
}

.ant-modal-content {
  border-radius: 12px;
}

.ant-select-selection-placeholder {
  line-height: 48px !important;
}

.ant-picker-dropdown {
  background-color: #ffffff;
}

.ant-message-notice-content {
  background-color: #ffffff;
}

.ant-message-custom-content {
  display: flex;
  align-items: center;
}
