@import './variable.less';

button, [type='button'], [type='reset'], [type='submit'] {
  -webkit-appearance: button;
  // background-color: transparent;
  background-image: none;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  background: unset;
}

.ant-layout {
  background: #fff;;
}

.flex .anticon-loading.anticon-spin {
  display: block;
}

.ant-select-selector {
  height: 100% !important;
  border: none !important;
}

.ant-select-item.ant-select-item-option-active {
  background-color: #f9f9f9;
}

.ant-select-item.ant-select-item-option-selected {
  color: #e2b201 !important;
}

.ant-select-selector {
  height: 3rem;
  border: none !important;
  border-radius: 4px !important;

  .ant-select-selection-search {
    .ant-select-selection-search-input {
      height: 3rem;
    }
  }

  .ant-select-selection-item {
    height: 3rem !important;
    line-height: 3rem !important;
    font-size: 0.875rem !important;
    font-weight: 500;
  }
}

.ant-select-dropdown {
  background: #ffffff;
}

.ant-input-affix-wrapper > input.ant-input {
  background-color: transparent !important;
}

.ant-select-item {
  &.ant-select-item-option {
    background: #ffffff;
  }

  &.ant-select-item-option-active {
    background: #f9f9f9;
  }
}

.ant-picker-panels {
  flex-direction: column !important;
}

@media (min-width: 768px) {
  .ant-picker-panels {
    flex-direction: row !important;
  }
}

.ant-btn-primary[disabled],
.ant-btn-primary[disabled]:hover,
.ant-btn-primary[disabled]:focus,
.ant-btn-primary[disabled]:active {
  height: 100%;
}

.ant-modal-content {
  border-radius: 12px;
}

.ant-select-selection-placeholder {
  line-height: 48px !important;
}

.ant-picker-dropdown {
  background-color: #ffffff;
}

.ant-message-notice-content {
  background-color: #ffffff;
}

.ant-message-custom-content {
  display: flex;
  align-items: center;
}
