@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline: none !important;
}

html {
  font-family: 'Open Sans', sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.h-fit-content {
  height: fit-content;
}

body .container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px
}
// todo: just for dev
iframe {
  display: none;
}
